NODE_ENV=development
PORT=5000
DB_URL=mongodb+srv://<example-user>:<example-password>@cluster0.b4uwa.mongodb.net/<example-db-name>?retryWrites=true&w=majority&appName=Cluster0

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=

# BCRYPT
BCRYPT_SALT_ROUND=

# SUPER ADMIN
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# Google auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Express Session
EXPRESS_SESSION_SECRET=

# Frontend Url
FRONTEND_URL=

# SSL Commerz
SSL_STORE_ID=
SSL_STORE_PASS=
SSL_PAYMENT_API=
SSL_VALIDATION_API=

# SSL Commerz BACKEND URLs
SSL_SUCCESS_BACKEND_URL=
SSL_FAIL_BACKEND_URL=
SSL_CANCEL_BACKEND_URL=

# SSL Commerz FRONTEND URLs
SSL_SUCCESS_FRONTEND_URL=
SSL_FAIL_FRONTEND_URL=
SSL_CANCEL_FRONTEND_URL=